*{
  margin: 0px;
  padding: 0px;
}

.container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  margin-top: 10px;
  padding: 15px;
}

header{
  background: #28A745;
}
header h1{
  padding: 10px;
  display: inline-block;
  width: 40%;
  margin-left: 20px;
}
header input{
  position: absolute;
  padding: 5px;
  left: 0;
  right:0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  width: 40%;
  border-radius: 2px;
}
.container form{
  padding: 10px;
  padding-left: 0px;
}

.container input[type="text"]{
 padding: 5px;
 font-size: 18px;
}

.container input[type="button"]{
  padding: 5px;
  font-size: 18px;
 }

nav li{
  list-style: none;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 20px;
}

li{
  position: relative;
}

 .delete{
  text-decoration: none;
  color: white;
  background: #D72727;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top:0;
}

